<p id="notice"><%= notice %></p>

<div class="row">
    <%= form_for :filters, html: { class: 'input-field col s12' }, method: 'get' do |f| %>
    <%= material_icon.search.css_class('prefix') %>
    <%= f.text_field :title, autofocus: true, placeholder: 'Search by title', value: params.dig(:filters, :title) %>

    <%= f.select :sort_by, options_for_select(
    [
      ['Date Ascending', 'created_at_asc'],
      ['Date Descending', 'created_at_desc'],
      ['A-Z', 'title_asc'],
      ['Z-A', 'title_desc']
    ], selected: params.dig(:filters, :sort_by)) %>

    <%= f.submit 'Search', class: 'btn' %>
    <% end %>

    <div id="notes-container">
        <% @notes.each do |month, notes| %>
        <div class="col s12">
            <h4><%= month %></h4>
        </div>
        <% notes.each do |note| %>
        <%= link_to note_path(note) do %>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content black-text">
                    <span class="card-title">
                        <%= note.title %>
                        <span class="right" style="font-size: 50%">
                            <%= note.created_at.in_time_zone(session[:timezone]).strftime("%d/%b/%Y, %H:%M:%S") %>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
    </div>
</div>
<div class="fixed-action-btn">
    <%= 
        link_to new_note_path,
        class: 'btn-floating btn-large pulse tooltipped',
        data: { position: 'left', tooltip: 'Nueva nota' } do
    %>
    <%= material_icon.add %>
    <% end %>
    <%= javascript_pack_tag 'tooltip' %>
</div>

<%= javascript_pack_tag 'filter' %>