<!DOCTYPE html>
<html>

<head>
    <title>My note collection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'darkmode', defer: true %>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <%= link_to notes_path, class: 'brand-logo center' do %>
                My note collection
                <% end %>
                <!-- Dark mode toggle button-->
                <div class="right" style="margin-top: -2px">
                    <button id="dark-mode-toggle" class="btn-floating btn-large" style="margin: 0px 5px;">
                        <i class="material-icons">brightness_2</i>
                    </button>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <%= yield %>
    </div>
    <%= javascript_pack_tag 'timezone' %>
</body>

</html>